* {
  box-sizing: border-box;
}

.App {
  width: 815px;
  margin: 0 auto;
  background-color: #fff;
  border: 1px solid #eee;
  min-height: 100vh;
}

.brand {
  text-align: center;
  font-size: 32px;
  font-weight: bold;
  padding: 20px 0;
}

.nav {
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  display: flex;
}

.nav-item {
  font-weight: bold;
  font-size: 18px;
  color: blue;
  display: inline-block;
  flex: 1 1 0;
  text-align: center;
  padding: 10px 0;
  text-decoration: none;
}

.nav-item:not(:last-child) {
  border-right: 1px solid #eee;
}

.section {
  padding: 20px;
}

.section {
  padding: 30px;
}

.section-title {
  margin-top: 0;
  text-align: center;
}

.section-description {
  line-height: 24px;
  text-align: center;
}

.articles {
  border-top: 1px solid #eee;
}

.article {
  border-bottom: 1px solid #eee;
  padding: 20px 0;
  
}

.article-title {
  margin-top: 0;
}

.article-title a {
  color: #000;
  text-decoration: none;
}

.article-title a:hover {
  color: blue;
}

.article-time {
  color: #999;
  font-size: 12px;
  text-align: left;
}

.article-image {
  max-width: 100%;
  margin: 20px 0;
}

.article-summary {
  line-height: 26px;
  margin-top: 0;
}

.article-source {
  color: #999;
}


/* Mobile Device stylw */
@media (max-width: 768px) {
  .App {
    width: 100%;
  }
}
